
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}
body{
    background: linear-gradient(to right, rgb(0, 174, 255),rgb(0, 255, 179));
}
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(0, 174, 255),rgb(0, 255, 179));
    color: black;
}
.container{
    margin: 0 15px;
}
.form-container{
    display: none;
    width: 100%;
    padding: 30px;
    max-width: 450px;
    background: rgb(75, 75, 75);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
.form-container.active{
    display: block;
}
h2{
    font-size: 30px;
    color: aqua;
    text-align: center;
    margin-bottom:15px ;
}

input, select{
    width: 100%;
    padding: 10px;
    background: rgb(255, 250, 250);
    border-radius: 10px;
    border-color: grey;
    border-width: 1px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
.button-wrapper{
    width: 100%;
    text-align: center;
}
button{
    width: 20%;
    padding: 10px;
    background: linear-gradient(to right, rgb(0, 174, 255),rgb(0, 255, 179));
    border-radius: 10px;
    border: none;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: rgb(253, 255, 137);
    font-weight: 500;
    margin-bottom: 15px;
    transition: 0.5s;
}

button:hover{
    font-size: 22px;
    background: rgb(214, 233, 250);
    color: black;
}

#para-login{
    color: aliceblue;
    text-align: center;
}

p:hover{
    text-decoration: underline;
}

a{
    color: black;
}

.about-section{
    margin-top: 15px;
    margin-bottom: 0px;
    display: block;
    background: white;
    border-radius: 10px;
    padding: 20px;
}
#about-para{
    width: 100%;
    margin-bottom: 10px;
}

nav{
    
}
a>h2{color: black;}