<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <a href="main.html"><h2>REQO</h2></a>
        <div class="main-container">
            <div class="button-container">
                <button><a href="login.html">Log In</a></button>
                <button><a href="register.html">Register</a></button>
                <button><a href="contact.html">Contact</a></button>
                <button>Log In</button>
            </div>
            
            <div class="about-section">
                <h2>About Us</h2>
                <p id="about-para">Welcome to Reqo – your premier platform designed to effortlessly connect individuals and businesses seeking services with skilled, reliable service providers.</p>
                <p id="about-para">Join us today and experience the future of service connection!</p>
            </div>
            <div class="about-section">
                <h2>About Us</h2>
                <p id="about-para">Welcome to Reqo – your premier platform designed to effortlessly connect individuals and businesses seeking services with skilled, reliable service providers.</p>
                <p id="about-para">Join us today and experience the future of service connection!</p>
            </div>
            <div class="about-section">
                <h2>About Us</h2>
                <p id="about-para">Welcome to Reqo – your premier platform designed to effortlessly connect individuals and businesses seeking services with skilled, reliable service providers.</p>
                <p id="about-para">Join us today and experience the future of service connection!</p>
            </div>
        
        </div>
    </body>
<html></html>